.Path01PathContainer {
  display: flex;
  gap: 1rem;
  font-size: larger;
  align-items: center;
  flex-direction: row;
}

.Path02Icon {
  height: 2rem !important;
  width: 2rem !important;
  cursor: pointer;
}
