.add-item {
  width: 12rem;
  height: 12rem;
  border-style: dashed;
  border-radius: 10%;
  border-width: 10%;
  background-color: aliceblue;
  text-align: center;
}

.add-item {
  position: relative;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  font-size: xx-large;
}

.files-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* flex-flow: row; */
  /* background-color: darkblue; */
}

.folder-item {
  margin: 2%;
}
