.add-item {
  width: 12rem;
  height: 12rem;
  border-style: dotted;
  border-width: medium;
  border-radius: 10%;
  border-width: 10%;
  text-align: center;
}

.add-item {
  position: relative;
  font-size: xx-large;
  transition: all 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.files-container {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  overflow-y: scroll;
}

.folder-item {
  margin: 2%;
}
