.add-item {
  width: 12rem;
  height: 12rem;
  border-style: dashed;
  border-radius: 10%;
  border-width: 10%;
  background-color: aliceblue;
  text-align: center;
}

.folder-item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: xx-large;
}
