.Content01FilesContainer {
  display: flex;
  height: 90vh;
  flex-wrap: wrap;
  position: relative;
  overflow-y: scroll;
  margin: 0;
}

.Content02OptionsDiv {
  position: relative;
  left: 5rem;
  bottom: 5rem;
  background-color: #fff;
  z-index: 1;
  display: flex;
  justify-content: start;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px #c8c7c7;
  color: #424242;
}

.Content03Options {
  cursor: pointer;
  padding: 1rem;
}

.Content03Options:hover {
  background-color: #edf2f7;
}

.Content04Delete {
  color: red;
}

.Content05ImgWrapper {
  width: 100%;
  height: 90vh;
  display: flex;
}

.Content06NotFoundImg {
  height: 30rem;
  width: 30rem;
  margin: auto;
}

.Content07AddItem {
  width: 12rem;
  height: 12rem;
  border-style: dotted;
  border-width: medium;
  border-radius: 10%;
  border-width: 10%;
  text-align: center;
  position: relative;
  font-size: xx-large;
  transition: all 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content08FolderItem {
  margin: 1.5rem;
}

.Content09ModalBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  z-index: 2;
}

.Content10ImgContainer {
  width: 60%;
  height: auto;
  max-height: 70%;
  border-radius: 12px;
  border: 1px solid #666;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Content11Loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 2rem;
  height: 2rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 6%;
  margin-left: 6%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .Content07AddItem {
    height: 8rem;
    width: 8rem;
  }
  .Content10ImgContainer {
    width: 80%;
  }
}
