.file-card {
  width: 12rem;
  height: 12rem;
  border-style: solid;
  border-radius: 10%;
  /* border-width: thick; */
  /* background-color: white; */
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}
