.form-header {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  padding: 1rem 0;
}
.create-form {
  display: flex;
  flex-direction: column;
}

.cross {
  justify-content: end;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.heading {
  flex-grow: 1;
}

.wrapper {
  width: 100%;
}

.toggle_btn_wrapper {
  display: flex;
  gap: 1.5rem;
  width: fit-content;
  margin: 1.5rem auto 1.5rem auto;
  padding: 1rem 2rem;
  justify-content: center;
  background-color: #f7fafc;
  outline: gray;
  font-size: large;
  border-radius: 10px;
  border: 1px solid #57a0d3;
  transition: all 0.3s ease;
  transition: all 0.2s ease-out;
}

.toggle_btn {
  font-size: large;
  color: #666;
  border: none;
  cursor: pointer;
}

.modal_background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  z-index: 2;
}

.modal_container {
  width: 50%;
  height: 70%;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #666;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 4rem;
  text-align: center;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-input {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.6rem;
  border-color: #57a0d3;
  font-size: medium;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}
.button-main {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .modal_container {
    max-width: 100%;
    height: 70%;
    padding: 2rem;
    overflow-x: hidden;
    font-size: medium;
  }
  .form-input {
    max-width: inherit;
  }
}
