.FolderCard01FolderWrapper {
  text-align: center;
  margin: 1rem;
  cursor: pointer;
}

.FolderCard02FolderIcon {
  color: #feeb75;
  filter: drop-shadow(3px 5px 3px #acacac);
  width: 8rem;
  height: auto;
}

.FolderCard02FolderIcon svg:hover {
  color: #fee575;
  filter: drop-shadow(5px 5px 10px #acacac);
  transition: 0.3s ease-in-out;
}

.FolderCard03FolderName {
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .FolderCard02FolderIcon {
    width: 5rem;
  }
}
