.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 2px solid gray;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 30px;
  position: relative;
  right: 50px;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: gray;
  margin: 6px 0;
  transition: 0.4s;
}

@media only screen and (max-width: 600px) {
  .system-tree {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  .mobile-header {
    display: "flex";
    flex-direction: column;
  }
  .header-container {
    flex-direction: column;
  }
}
