.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 2px solid gray;
}

.search-container {
  display: flex;
  position: relative;
  align-items: center;
}

.search-icon {
  position: absolute;
  /* max-width: 70%; */
  /* max-height: inherit; */
}
